@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background: #f0f0f0;
  color: #1a004e;
}

.wrapper {
  padding: 0.5em;
  text-align: center;
}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ul li a {
  text-decoration: none;
}

.circle {
  width: 2em;
  background: #858080;
  color: #000;
  border-radius: 50%;
  padding: 0.2em 0.5em;
}
